# ovinc
ovinc-client==0.2.4
bk-crypto-python-sdk==1.1.1

# Celery
celery==5.2.2

# Server
uwsgi==2.0.22

# Datetime
arrow==1.2.3

# RSA
pycryptodome==3.15.0

# Profile
pyinstrument==4.4.0

# QCloud
qcloud-python-sts==3.1.5
cos-python-sdk-v5==1.9.25
